html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title 管理后台
		link(href='/public/css/bootstrap.min.css', rel='stylesheet')
		link(href='/public/css/dashboard.css', rel='stylesheet')
		script(src='/public/javascripts/jquery.min.js')
		script(src='/public/javascripts/jQuery.md5.js')
		script(src='/public/javascripts/Dialog.js')
		script(src='/public/javascripts/jquery.cookie.js')
		script(src='/public/javascripts/jquery.pagination.js')
		script(src='/public/javascripts/bootstrap-modal.js')
		script(src='/public/javascripts/signature.js')
		script(src='/public/javascripts/smslist.js')
	body
		.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') 管理后台
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
					form.navbar-form.navbar-right
						//input.form-control(type='text', placeholder='Search...')
		.container-fluid
			.row
				.col-sm-3.col-md-2.sidebar
					ul.nav.nav-sidebar
						li
							a(href='/userlist') 用户列表
						li.active
							a(href='/smslist') 信息接收列表
						li
							a(href='/usermanager') 管理员用户管理
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					h2.sub-header 接收信息列表
					.table-responsive
						table.table.table-striped
							thead
								tr
									th 发送时间
									th 发送产品
									th 发送内容
									th 发送账号
									th 查看
							tbody.list
						#pagination
		#message-modal.modal.fade.bs-example-modal-sm(tabindex='-1',role='dialog')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h3.userinfo
					.modal-body
						.table-responsive
							table.table.table-striped.text-center
								thead
									tr
										th.text-center 手机号
								tbody.message
							#pagination-modal